:root {
    --body-background: #000;
    --header-background: #fefefe;
    --link-color: #fff;
}

*, html, body {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: var(--body-background);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

li {
    list-style: none;
}

h2 {
    color: #fff;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-15px {
    padding: 15px;
}

.mt\:8px {
    margin-top: 8px;
}

.flex {
    display: flex;
}
.d-none{
    display: none;
}

.justify-content\:\space-between {
    justify-content: space-between;
}

.align-items\:center {
    align-items: center;
}

.btn{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 15px;
    display: block;
    margin-bottom: 16px;
    font-family: iranyekan;
    background: none;
    color: #fff;
    font-size: 16px;
}
.text-white{
    color: #fff;
}


/*****
*
* Sections
*
*****/


#top-header {
    text-align: center;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
}


.nav-bar {
    display: flex;
    overflow-y: scroll;
    margin-top: 15px;
}

.nav-item {
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center;
    margin-left: 8px;
    margin-bottom: 8px;
    min-width: 160px;
}


.categorry-title {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*********
* poroduct list of product iteme
*******/

.product-list_item {
    padding: 8px 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.product-list_item-image {
    border-radius: 4px;
    max-height: 72px;
}

.product-list_item-content {
    padding-right: 15px;
    width: auto;
    flex: 1;
}

.product-list_item-content_description {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
}

.product-list_item-content_add_to_order {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    visibility: hidden;
}



